<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rokid.falconcloudclient"
    android:versionCode="2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <application>

        <Service android:name="com.rokid.falconcloudclient.FalconCloudTask"
            android:enabled = "true"
            android:exported = "true">
        </Service>

    </application>

</manifest>